<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../stylesheets/create-project-modal.css">
    <link rel="stylesheet" href="../stylesheets/app-home.css">
    <link rel="stylesheet" href="../stylesheets/project-home-header.css">
    <link rel="stylesheet" href="../stylesheets/home-astuce-template.css">
    <link rel="shortcut icon" href="../images/cado-shortcut.png">
    <title>Projets | CADO</title>
</head>

<body>

    <header>
    </header>

    <div class="main">
        <div class="app-left-nav">
            <!-- 0 Project selection button -->
            <a href="#" class="app-home-left-nav-button app-home-left-nav-button-active">
                <li class="fa fa-project-diagram"></li> Les projets
            </a>

            <!-- 1 Home selection button -->
            <a href="#" class="app-home-left-nav-button">
                <li class="fa fa-home"></li> Accueil
            </a>
        </div>

        <div class="app-center-content">
            <!-- 0 Project content -->
            <div  class="project app-center-item app-center-item-show">
                <h1 class="app-content-title"><i class="fa fa-star"></i> Tous mes projets</h1>
                <div class="content">
                    <a href="#" class="app-new-button">Créer un projet</a>
                </div>
            </div>
            
            <!-- 1 Home content -->
            <div class="home app-center-item">

            </div>
        </div>
    </div>

    <div class="modal-container">
        
    </div>

    <script src="https://kit.fontawesome.com/3db51e4e80.js"></script>
    <script src="../javascripts/app/home.js" type="module"></script>

</body>

</html>