
/*
69f0ae
2bbd7e
9fffe0
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.project-header-content {
    background-color: #00701a;
    height: 48px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.project-header-content .grid-item {
    padding: 4px;
}

.project-header-content .link {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: #43a047;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.project-header-menu-2 {
    text-align: right;
}

#username {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #eeeeee;
    color: #777777;
    border-radius: 200px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

#username:hover {
    cursor: pointer;
}

.go-to-app-home-link img {
    width: 38px;
    height: 38px;
    padding: 5px;
}

.go-to-app-home-link {
    background-color: #00701a44;
    display: inline-block;
    text-decoration: none;
    margin: 3px;
    border-radius: 2px;
}

/**
Dropdown
*/

.dd-container {
    z-index: 100000000;
}

.dd {
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #cccccc;
    display: none;
}

.dd-active {
    display: block;
}

.dd-r {
    position: fixed;
    top: 55px;
    right: 0px;
    margin-right: 10px;
}

.dd h1 {
    font-weight: normal;
    font-size: 14px;
    color: #aaaaaa;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.dd .close-dd {
    display: inline-block;
    font-size: 24px;
    margin-left: 20px;
    vertical-align: top;
}

.dd .close-dd:hover {
    color: #cccccc;
    cursor: pointer;
}

.dd a {
    text-decoration: none;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}

.dd a:hover {
    background-color: #eeeeee;
}

.dd .dd-group {
    border-bottom: 1px solid #cccccc;
}