* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.map-view {
    width: 100vw;
    height: 80vh;
}

.app-top-menu-bar {
    width: 100%;
    height: 48px;
    background-color: #43a047;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.link-and-input input{
    display: none;
}

.link-and-input a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    display: inline-block;
}

.link-and-input {
    display: inline-block;
}

.link-and-input a:hover {
    background-color: #228527;
    border-radius: 5px;
}

.header-input {
    margin: 4px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background: white;
    font-weight: bold;
}

.header-input-loading {
    background: white url(http://www.xiconeditor.com/image/icons/loading.gif) no-repeat right center;
}

.header-input:focus {
    outline: none;
}

.left-menu .link {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    margin: 4px 10px;
    font-size: 14px;
}

.left-menu .link:hover {
    background-color: #228527;
    border-radius: 4px;
}

.header-link-gap {
    border: 1px solid white;
}

.fixed-menu {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1555;
    display: none;
    animation: move-right-to-left 0.4s;
}

.fixed-menu .link {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    display: block;
    margin: 10px;
}

.fixed-menu .link:hover {
    background-color: #cccccc;
    border-radius: 5px;
}

.fixed-menu .title {
    background-color: #43a047;
    color: white;
    text-decoration: none;
    display: grid;
    font-weight: normal;
    font-size: 14px;
    padding: 10px;
    grid-template-columns: 30px auto 30px;
    display: flex;
    align-items: center;
}

.close-fixed-menu {
    font-size: 32px;
    flex: 0.5;
    flex-shrink: 10;
}

.fixed-menu .title i {
    flex: 0.5;
    vertical-align: middle;
    display: inline-block;
}

.fixed-menu .title p {
    flex: 9;
}

.mobile-list {
    color: #777777;
    font-size: 14px;
    padding: 20px;
    padding-left: 30px; 
}

@keyframes move-right-to-left {
    0% { transform: translateX(100%)}
    100% { transform: translateX(0%)}
}

.trash-item {
    margin: 10px;
    padding: 5px 20px;
}

.all-trash {
    overflow: scroll;
}

.trash-item * {
    font-size: 12px;
}

.trash-is-not-deploy {
    color: tomato;
}

.trash-item .top {
    display: flex;
}

.trash-item .top h1 {
    flex: 9;
}

.trash-item .top span {
    flex: 1;
    font-size: 20px;
    color: white;
}

.trash-item .top span:hover {
    cursor: pointer;
}

.trash-item:hover {
    background-color: #cccccc;
    border-radius: 10px;
}