<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">

    <!-- Fontawsome -->
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css"
        media="all">

    <!-- My css -->
    <link rel="stylesheet" href="/cado/stylesheets/app-pages-stylesheets/app-header.css">
    <link rel="stylesheet" href="/cado/stylesheets/app-pages-stylesheets/app.css">
    <link rel="stylesheet" href="/cado/stylesheets/app-pages-stylesheets/template-style/marker-item-style.css">

    <link rel="shortcut icon" href="/cado/images/cado-shortcut.png">

    <title>Nom du projet | CADO</title>
</head>

<body>

    <header></header>

    <div class="app-main-container">

        <!-- Transparent menu bar fixed on top of the app -->
        <div class="app-top-menu-bar">

            <div class="left-menu">
                <!-- Project title -->
                <a href="#" id="project-title" class="link">Nom du projet</a>

                <span class="header-link-gap"></span>

                <!-- Zone edit button -->
                <a href="#" class="link" id="z-edit-button">
                    <li class="fa fa-draw-polygon"></li> Zone
                </a>

                <span class="header-link-gap"></span>

                <!-- Mobile control -->
                <a href="#" class="link" id="z-mobile-button">
                    <li class="fa fa-mobile-alt"></li> Mobiles
                </a>

                <span class="header-link-gap"></span>

                <!-- Map management -->
                <a href="#" class="link" id="z-map-manage-button">
                    <li class="fa fa-map"></li> Map
                </a>

                <span class="header-link-gap"></span>

            </div>

            <!-- Nominatim Search bar -->
            <input type="text" class="header-input" name="search-long-lat" id="search-lt-lg"
                placeholder="Recherche: Pays, Province, Ville, ..." />

        </div>

        <!-- Map container -->
        <div id="map-view-id" class="map-view">
        </div>

    </div>

    <div class="fixed-menu zone-menu">
        <!-- Zone edit button -->
        <a href="#" class="title">
            <i class="fa fa-draw-polygon"></i>
            <p>Modifier la zone de travail</p>
            <span class="close-fixed-menu">&times;</span>
        </a>
        <a href="#" class="link" id="z-rm-last-pt">Retirer le dernier point</a>
    </div>

    <div class="fixed-menu mobile-menu">
        <!-- Mobile management -->
        <a href="#" class="title">
            <i class="fa fa-mobile-alt"></i>
            <p>CADO Mobiles</p>
            <span class="close-fixed-menu">&times;</span>
        </a>
        <a href="#" class="link" id="z-create_mob">Générer un code</a>

        <ul class="mobile-list">
        </ul>
    </div>

    <div class="fixed-menu map-menu">
        <!-- Map content management -->
        <a href="#" class="title">
            <i class="fa fa-map"></i>
            <p>Map</p>
            <span class="close-fixed-menu">&times;</span>
        </a>

        <div class="markers-list">
            
        </div>
    </div>

    <!-- Leaflet javascript after leaflet css -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <!-- My Javascript -->
    <script src="/cado/javascripts/app/header-bar.js"></script>
    <script src="/cado/javascripts/app/app.js" type="module"></script>

</body>

</html>