<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/cado-shortcut.png">

    <title>CADO | Je me connecte à mon compte</title>

    <link rel="stylesheet" href="/cado/stylesheets/home-pages-stylesheets/header.css">
    <link rel="stylesheet" href="/cado/stylesheets/home-pages-stylesheets/sign.css">
</head>

<body>

    <header>

    </header>

    <div class="main">
        <h1>Renseignez vos identifiants</h1>

        <div class="form-1">
            <div class="form-1-item">
                <label for="username"></label>
                <input type="search" placeholder="Nom d' utilisateur" id="username" class="form-1-item">
            </div>

            <div class="form-1-item">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Mot de passe" class="form-1-item">
            </div>

            <a href="#" class="form-1-item-button default-button" id="login-btn">Connexion</a>
            <h2 class="question">Pas encore membre? <a href="/cado/views/home-pages/register.html" class="simple-button">Inscrivez vous</a>
            <h2 class="question"><a href="#" class="simple-button">Mot de passe oublié ?</a></h2>
            </h2>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/3db51e4e80.js"></script>
    <script src="/cado/javascripts/home/login/login.js" type="module"></script>
</body>

</html>