<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    
    <link rel="shortcut icon" href="/images/cado-shortcut.png">
    
    <link rel="stylesheet" href="/cado/stylesheets/home-pages-stylesheets/header.css">
    <link rel="stylesheet" href="/cado/stylesheets/home-pages-stylesheets/sign.css">
    <title>CADO | Je m'inscris</title>
</head>

<body>

    <header>
    </header>

    <div class="main">
        <h1>Je crée mon compte: </h1>

        <div class="form-1">

            <div class="form-1-item">
                <label for="username"></label>
                <input type="search" placeholder="Nom d' utilisateur" id="username" class="form-1-item">
            </div>

            <div class="form-1-item">
                <label for="email"></label>
                <input type="search" name="email" id="email" placeholder="E-mail" class="form-1-item">
            </div>

            <div class="form-1-item">
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Mot de passe" class="form-1-item">
            </div>

            <div class="form-1-item">
                <label for="password_conf"></label>
                <input type="password" name="conf-password" id="password_conf" placeholder="Confirmer le mot de passe"
                    class="form-1-item">
            </div>
            <a href="#" id="register-btn" class="form-1-item-button default-button">Je m' inscris</a>
            <div>
                <h2 class="question">Déjà membre? <a href="views/home-pages/login.html" id="login" class="simple-button">Connectez
                        vous</a></h2>
                <p class="contrat">En continuant vous acceptez nos <a href="#">Conditions générales</a> et notre <a
                        href="#">Politique de confidentialité.</a>
                    Les informations ci-dessus sont toutes obligatoires pour devenir membre.
                    Elles sont collectées par <a href="#">We Need</a> afin de créer votre compte, communiquer
                    avec nous ou les membres et, le cas échéant, mettre un terme à notre relation.
                    Vous disposez d'un droit d’accès, de rectification et d’opposition.</p>
            </div>
        </div>
    </div>

    <script src="/cado/javascripts/home/register/register.js" type="module"></script>
    
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/3db51e4e80.js"></script>
</body>

</html>