<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- Fontawsome -->
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <!-- My css -->
    <link rel="stylesheet" href="/stylesheets/app-pages-stylesheets/app-header.css">
    <link rel="stylesheet" href="/stylesheets/app-pages-stylesheets/app.css">

    <link rel="shortcut icon" href="/images/cado-shortcut.png">

    <title>Nom du projet | CADO</title>
</head>
<body>
    
    <header></header>

    <div class="app-main-container">

        <!-- Transparent menu bar fixed on top of the app -->
        <div class="app-top-menu-bar">

            <!-- Project title -->
            <div class="project-title link-and-input">
                <a href="#" class="change-to-input">Nom du projet</a>
                <input type="text" class="change-to-link"/>
            </div>
        </div>

        <!-- Map container -->
        <div id="map-view-id" class="map-view">
        </div>

    </div>

    <script src="https://kit.fontawesome.com/3db51e4e80.js"></script>
    <!-- Leaflet javascript after leaflet css -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

    <!-- My Javascript -->
    <script src="/javascripts/app/header-bar.js"></script>
    <script src="/javascripts/app/app.js" type="module"></script>

</body>
</html>